* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-color: cadetblue;
}

.container {
    width: 30rem;
    margin: 10rem auto;
}

.container .title {
    text-align: center;
}

.container .form {
    background-color: aliceblue;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.form input {
    flex: 1;
    padding: 0.7rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.form .btn {
    padding: 0.7rem;
    background-color: darkcyan;
    color: aliceblue;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.form .btn:hover {
    background-color: midnightblue;
}

.list .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.list .todo:hover {
    background-color: #f0f0f0;
}

.todo span {
    cursor: pointer;
}
